each teclado in teclados
		.clase1.clase2#id1
			p.monoMataRatas #{contacto.nombre}


		<div class="clase1 clase2" id="id1">
			<p class="monoMataRatas">Pepe</p>
		</div> 

search.grid-search
    form(action='aplicar a la vista')
        fieldset
            p Filtros:
            span 
            label Precio ascendente: 
                input(type='radio' name='ordenar_precio' value='radio1')
            label Precio descendente: 
                input(type='radio' name='ordenar_precio' value='radio2')
            div Marca:
                select#marca
                    option(value='value1') Marca 1
                    option(value='value2') Marca 2
                    option(value='value3') Marca 3
article.grid-layout-content
    each producto in productos
        .grid-box 
            img.imagen-teclado(src='/public/Images/teclado.avif' alt='Icono de rss')
            p.modelo-teclado #{producto.modelo}
            a.enlace-teclado #{producto.enlace}
            p.precio-teclado #{producto.precio}
<article class="grid-layout-content">
  <div class="grid-box">
    <img
      class="imagen-teclado"
      src="/public/Images/teclado.avif"
      alt="Icono de rss"
    />

    <p class="modelo-teclado">Mars Gaming</p>
    <a class="enlace-teclado">Enlace</a>
    <p class="precio-teclado">Puntuación</p>
    <div class="me-gusta-contenedor">
      <label class="like">
        <input type="checkbox" />
        <div class="hearth"></div>
      </label>
    </div>
  </div>
</article>
