//- each teclado in teclados
//-   .clase1.clase2#id1
//-     p.monoMataRatas #{contacto.nombre}


//-   <div class="clase1 clase2" id="id1">
//-     <p class="monoMataRatas">Pepe</p>
//-   </div> 

search.grid-search
  form(action='aplicar a la vista')
    fieldset
      p Filtros:
      span 
        label Precio ascendente: 
          input(type='radio' name='ordenar_precio' value='radio1')
        label Precio descendente: 
          input(type='radio' name='ordenar_precio' value='radio2')
        div Marca:
          select#marca
            each marca in marcas
              option(value=marca.marca) #{marca.marca}
article.grid-layout-content
  each producto in productos
    .grid-box 
      .image-container
        button.delete-button(data-id=producto.id)
          img(src='/Images/delete.ico' alt='Icono de borrado')
        if producto.image1 && !producto.image2
          img.imagen-alone-producto(src=producto.image1 alt='Imagen del producto')
        else
          if producto.image1
            img.imagen-1-producto(src=producto.image1 alt='Imagen 1 de producto')
            if producto.image2
              img.imagen-2-producto(src=producto.image2 alt='Imagen 2 de producto')
          else
            img.imagen-alone-producto(src='/Images/default_no_image.png' alt='No hay imagen disponible')
      p.modelo-producto #{producto.modelo}
      a.enlace-producto(href=producto.enlace) Enlace
      if producto.marca
        p.marca-producto #{producto.marca}
      else
        p.marca-producto Custom
      .multicampo-contenedor
        if producto.color
          p.color-switch #{producto.color}
        p.precio-producto #{producto.precio}$
        label.like
          input(type='checkbox')
          .hearth